.aside-title {
    padding-bottom: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #e1e1e1;
    font-size: 16px;
}
.form_control_container__time{
    display: none;
}
.list-shop-filter {
    margin-top: 24px;
}
.list-shop-filter li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mtop-3{
    margin-top: 30px;
}
.text-md-left {
    text-align: left !important;
}
