@import '../variable';
@import '../form';
@import '../mixins/position-mixin';
@import '../mixins/display-mixin';

.vk-navbar-basket {
    @include position-relative;
    @include displayblock;
    padding: 0 12px 0 0;
    font-size: 24px;
    line-height: 1;
    color: $color-black;
    outline: none;
    border: none;
    box-shadow: none;
    background: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.vk-navbar-basket span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: $color-blue;
}
.cart-inline-figure{
    max-width: 150px;
    width: 100%;
}
.group-sm-oo, .linetwocart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-inline {
    position: absolute;
    text-align: left;
    right: 35px;
    max-width: 400px;
    margin-top: 30px;
    background: #ffffff;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    filter: drop-shadow(0 0 3px rgba(1, 3, 4, 0.19));
    transition: all .3s ease-in-out;
    z-index: 1082;
}
.cart-inline::before {
    position: absolute;
    content: '';
    bottom: calc(100% - 10px);
    right: 40px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 34px 34px;
    border-color: transparent transparent #ffffff transparent;
}
.cart-inline-header {
    padding: 20px;
}
.cart-inline-title {
    text-transform: uppercase;
}
* + .cart-inline-title {
    margin-top: 0;
}
.cart-inline-body {
    padding: 20px;
    border-top: 1px solid #e1e1e1;
    max-height: 250px;
    overflow: scroll;
}
.cart-inline-figure {
    display: block;
    background: #f5f5f5;
}
.cart-inline-figure img {
    width: 100%;
    transition: all .3s ease;
    will-change: transform;
}
.cart-inline-name + * {
    margin-top: 10px;
}
.cart-inline .stepper input[type="number"] {
    min-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
}
.table-cart-stepper input[type="number"] {
    font-size: 18px;
    line-height: 1;
    letter-spacing: .1em;
    color: #151515;
    background: #ffffff;
    border-color: #ffffff;
}
.stepper input[type="number"] {
    width: 100%;
    padding: 10px 42px;
    font-weight: 500;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    background: #f5f5f5;
    border-color: #f5f5f5;
}
.table-cart-stepper .stepper-arrow.up {
    font-size: 30px;
}
.table-cart-stepper .stepper-arrow {
    line-height: 36px;
    border-radius: 6px;
    border: 1px solid #e1e1e1;
}
.stepper-arrow.up {
    right: 0;
}
.stepper-arrow {
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -19px;
    width: 38px;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    font-weight: 400;
    font-family: "Material Design Icons";
    cursor: pointer;
    color: #151515;
    border-radius: 0;
    transition: .3s all ease;
}
.table-cart-stepper .stepper-arrow.down {
    font-size: 18px;
}
.table-cart-stepper .stepper-arrow {
    line-height: 36px;
    border-radius: 6px;
    border: 1px solid #e1e1e1;
}
.stepper-arrow.down {
    left: 0;
}
.cart-inline-footer {
    padding: 20px;
    border-top: 1px solid #e1e1e1;
}
.button-zakaria {
    transition: all .3s ease-in-out;
    z-index: 1;
}
.button-primary, .button-primary:focus {
    color: #ffffff;
    background-color: $color-blue;
    border-color: $color-blue;
}
